# 01 Exploration Data Analysis (EDA)

Exploratory Data Analysis (EDA) is a crucial step in the data analysis process. It involves summarizing the main characteristics of a dataset, often using visual methods. The goal of EDA is to gain insights, detect patterns, spot anomalies, test hypotheses, and check assumptions with the help of summary statistics and graphical representations.

**Importing Libraries**: Start by importing necessary libraries such as pandas, numpy, matplotlib, and seaborn.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
%matplotlib inline
import os
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor,ExtraTreesRegressor,AdaBoostRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from math import sqrt
import pickle
import warnings
warnings.filterwarnings('ignore')

*Data Cleaning*: Handle missing values, remove duplicates, and correct data types to ensure the dataset is clean and ready for analysis.

In [3]:
df = pd.read_csv("../data/raw/Disease_symptom_and_patient_profile_dataset.csv", sep = ",", encoding = "utf-8")
#print(df)

display(df.head())

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

**_Checking the Null values of all the Columns in the dataset_**

In [4]:
df.isna().sum()

Disease                 0
Fever                   0
Cough                   0
Fatigue                 0
Difficulty Breathing    0
Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Outcome Variable        0
dtype: int64

## _Data Visualization_

**_plotting the distribution of the target variable 'Outcome Variable'_**